// src/styles/main.scss

@import './_variables';
@import './_mixins';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
  padding: 1rem;
}

@import '../components/Navbar/Navbar';
@import '../pages/Home/Home';
@import '../pages/AddGame/AddGame';
@import '../pages/GameDetails/GameDetails';